---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Sobre mi</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Soy programador con interés en desarrollarme en el sector tecnológico, en Back End. 
			Comencé mi trayectoria profesional en el ámbito sanitario, donde
			estudié psicología y desarrollé competencias como la capacidad comunicativa,
			gestión del estrés, trabajo en equipo y asertividad. La programación siempre
			me ha llamado la atención y actualmente he orientado mi carrera hacia este
			sector. Poseo una sólida base en Python, JavaScript, HTML y CSS. Busco
			contribuir con mis habilidades y crecer profesionalmente en el desarrollo de
			software.

		</p>
	</div>
</section>
