<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		
			<span class="text-orange"> Hecho con Astro y Tailwind. Original de Veranikabarel</span>
		</a>
		
		
	</p>
</footer>
